{%extends "index.html"%}
{%block contenedor%}

<div class="d-flex justify-content-end">
    <a class="d-flex btn btn-outline-danger" href="{{url_for('salir')}}">Atras</a>
</div>

<div class="container pt-5">
    <form action="select_opcion" method="post" class="d-flex justify-content-evenly justify-content-center">
        <div class="form-group">
            <select class="form-select" name="opS" id="">
                <option>Seleccione una opcion</option>
                <option value="1" {% if op=="1" %} selected {% endif %}>Registrar asistencia</option>
                <option value="2" {% if op=="2" %} selected {% endif %}>Informe con detalles</option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-success">Seleccionar</button>
        </div>
    </form>
</div>

{% if op=='1' or op=='2' %}

<div class="container pt-5">
    <form action="/select_curso" method="post" class="d-flex justify-content-evenly justify-content-center">
        <input type="hidden" name="opS" value="{{op}}">
        <div class="form-group">
            <select required class="form-select" name="curso" id="curso">
                <option value="">Seleccione curso</option>
                {% for curso in cursos %}
                <option value="{{curso.id}}">{{curso.id}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-info">Seleccionar curso</button>
        </div>
    </form>
</div>

{% if opS == '1' %}

<div class="pb-5">
    <form action="/guardar_asistencia" method="post">
        <div class="d-flex justify-content-center pt-5 my-4">
            <input required type="date" name="fecha" id="fecha">
        </div>

        {% for alumno in alumnos %}
        <div class="d-flex container justify-content-center align-items-center pt-3 justify-content-evenly">
            <input type="hidden" name="ids" value="{{alumno.id}}">
            {{alumno.nombre}} {{alumno.apellido}}
            <div class="form-group">
                <select name="clases" id="" class="form-select" required>
                    <option value="">Seleccione clase</option>
                    <option value="1">Aula</option>
                    <option value="2">Educacion fisica</option>
                </select>
            </div>
            <div class="form-group">
                <select name="asistencias" id="" class="form-select" required>
                    <option value="">Seleccione asistencia</option>
                    <option value="s">Asistio</option>
                    <option value="n">No asistio</option>
                </select>
            </div>
            <div>
                <input type="text" name="justificaciones" id="">
            </div>
        </div>
        {% endfor %}

        <div class="d-flex justify-content-center pt-5">
            <button type="submit" class="btn btn-success">Guardar asistencia</button>
        </div>
    </form>
</div>

{% endif %}


{% if opS == '2' %}

<div class="pt-5 pb-5">
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Apellido y nombre</th>
                <th>Presentes aula</th>
                <th>Presentes educacion fisica</th>
                <th>Ausentes educacion fisica justificadas</th>
                <th>Ausentes aula justificadas</th>
                <th>Ausentes aula injustificadas</th>
                <th>Ausentes educacion fisica injustificadas</th>
                <th>Cómputo cantidad total de inasistencias</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in resultado %}
            <tr>
                <td>{{ alumno.apellido }} {{ alumno.nombre }} {{ alumno.id }}</td>
                <td>{{ alumno.presentes_aula }}</td>
                <td>{{ alumno.presentes_educacion_fisica }}</td>
                <td>{{ alumno.ausentes_educacion_fisica_justificadas }}</td>
                <td>{{ alumno.ausentes_aula_justificadas }}</td>
                <td>{{ alumno.ausentes_aula_injustificadas }}</td>
                <td>{{ alumno.ausentes_educacion_fisica_ijustificadas }}</td>
                <td>{{ alumno.total_inasistencias }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}


{% endif %}

{%endblock%}